<TMPL_INCLUDE name="public/templates/header.html">

  <body>
      <TMPL_IF name="name">
      <h2>Hello, <TMPL_VAR name="name">!</h2>
      </TMPL_IF>

      <form action="/hello" method="post">
          <label for="name">Type your name:</label><br>
          <input type="text" id="name" name="name"><br>
          <label for="age">Type your age:</label><br>
          <input type="number" id="age" name="age"><br>
          <input type="submit" value="Submit">
      </form>

    <form action="/hello" method="post" enctype="multipart/form-data">
        <p>multipart form</p>
          <label for="name">Type your name:</label><br>
          <input type="text" id="name" name="name"><br>
          <label for="age">Type your age:</label><br>
          <input type="number" id="age" name="age"><br>
          <input type="submit" value="Submit">
      </form>

      <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
      <a href="doc.html">C Template Library 1.0 Docs</a>

      <TMPL_LOOP name = "hello_loop">
      <p><TMPL_VAR name = "hello"></p>
      </TMPL_LOOP>

<TMPL_INCLUDE name="public/templates/footer.html">
