<html>
  <head>
      <link rel="stylesheet" type="text/css" href="static/css/main.css" media="screen"/>
    <title>This is the title of the webpage!</title>
  </head>
  <body>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
    <p><TMPL_VAR name = "hello"></p>

    <a href="libctemplate/doc.html">C Template Library 1.0 Docs</a>

    <script src="static/js/main.js"></script>
  </body>
</html>
